
.course-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem 2rem;
}
.course-container{
    display: flex;
    gap: 1rem;
}
.coursedetail-card{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: transparent;
}
.edit-button{
    width: 25%;
    height: 60px;
    background-color: #0fb4eb;
    color: white;
    border: 1px solid #0fb4eb;
    transition: all linear 300ms;
}
.edit-button:hover{
    background-color: white;
    color: #0fb4eb;
}