.h {
  color: black;
  margin-top: 20px;
}

.form-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  max-width: 100%;
  background: #F8F9FD;
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.878) 0px 30px 30px -20px;
  margin: 10px auto;
  gap: 20px;
  box-sizing: border-box;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  background: white;
  border: 2px solid transparent;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 5px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  transition: all 0.3s ease;
  color: #333;
  box-sizing: border-box;
  border: 2px solid #12B1D1 !important;
  color-scheme: black;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;  
  box-shadow: 0px 0px 5px rgba(18, 177, 209, 0.5);
}

.form-unit {
  border: 1px solid rgb(18, 177, 209);
  padding: 10px;
  margin: 10px 0px;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .form-container {
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
  }
  .form-group input,
  .form-group textarea {
    padding: 10px;
  }
}

.heading {
  font-weight: 900;
  font-size: 30px;
  color: rgb(0, 0, 0);
  margin: 0;
  flex-grow: 1;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.btn-submit {
  display: block;
  width: 25%;
  margin: 20px 0px;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
  color: white;
  padding: 15px;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.878) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
  text-align: center;
  cursor: pointer;  
}

.btn-submit:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.878) 0px 23px 10px -20px;
}

.btn-submit:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.878) 0px 15px 10px -10px;
}

.btn-unit {
  display: block;
  width: 25%;
  font-weight: bold;
  background: linear-gradient(45deg, #0575E6 0%, #021B79 100%);
  color: white;
  padding: 15px;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.878) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
  text-align: center;
  cursor: pointer;
  margin: 20px 0px;
  position: relative;
  left: 0; 
  align-self: flex-start;
}

.btn-unit:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.878) 0px 23px 10px -20px;
}

.btn-unit:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.878) 0px 15px 10px -10px;
}

.btn-lesson {
  display: block;
  width: 25%;
  font-weight: bold;
  background: linear-gradient(45deg, #4235f0 0%, #3e51ff 100%);
  color: white;
  padding: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.878) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
  text-align: center;
  cursor: pointer;
  margin: 20px 0px;
}

.btn-lesson:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.878) 0px 23px 10px -20px;
}

.btn-lesson:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.878) 0px 15px 10px -10px;
}

.btn-resource {
  display: block;
  width: 25%;
  font-weight: bold;
  background: linear-gradient(45deg, #22058d 0%, #4136da 100%);
  color: white;
  padding: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.878) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
  text-align: center;
  cursor: pointer;
  margin: 20px 0px;
}

.btn-resource:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.878) 0px 23px 10px -20px;
}

.btn-resource:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.878) 0px 15px 10px -10px;
}

.btn-cancel {
  display: block;
  width:25%;
  font-weight: bold;
  background: linear-gradient(45deg, #f32004 0%, #ac0b00 100%);
  color: white;
  padding: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.878) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
  text-align: center;
  cursor: pointer;
  margin: 20px 0px;
}

.btn-cancel:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.878) 0px 23px 10px -20px;
}

.btn-cancel:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.878) 0px 15px 10px -10px;
}

.agreement {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.agreement a {
  text-decoration: none;
  color: #0099ff;
  font-size: 9px;
}

.button-container {
  text-align: center;
}

.listaRecursos {
  background: white;
  border: 2px solid transparent;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 5px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  transition: all 0.3s ease;
  color: #333;
  box-sizing: border-box;
  border: 2px solid #12B1D1 !important;
  color-scheme: black;
}

label {
  margin-top: 15px;
}

.collapsed-header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: #f9f9f9;
  color: #333; 
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.collapsed-header:hover {
  background-color: #eaeaea; 
}

.collapsed-header h4 {
  margin: 0;
  font-size: 16px;
  flex-grow: 1;
  text-align: left;
}

.collapsed-header span {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
  margin: 0; 
  text-align: right;
}

.course-header-container {
  display: flex;
  align-items: center;
}
.course-header-icon {
  font-size: 24px;
  color: #007bff;
  cursor: pointer;
}

.butonesFinales {
  display: flex;
  gap: 3rem;
}

.heading-container {
  display: flex;
  justify-content: flex-end;
}

.course-header-container span{
  display: flex;
  justify-content: end;
}