.container-home {
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    width: 100%;
    color: black;
    flex-direction: column;
    padding-left: 60px;
    box-sizing: border-box; 
}

.home-content {
    width: 100%; 
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; 
    box-sizing: border-box;
    background-color: aliceblue;
}

.content-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
}
.content-info h1{
    padding: 1rem 1rem 2rem;
}
.content-courses{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}
.courses-header{
    display: flex;
    justify-content: space-between;
}
.courses-header-title{
    font-size: 1.3rem;
    font-weight: bold;
}
.courses-header-link{
    text-align: end;
    color: blue;
}
.courses-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;    
}

.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2rem 0;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.dashboard-graphics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 1.5rem;
    padding: 1rem;
}

.dashboard-graphics > div {
    background-color: white; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-menu {
    position: fixed; 
    left: 0;
    top: 0;
    width: 70px;
    height: 100%;
    background-color: #2c3e50;
    transition: width 0.3s ease;
    overflow: hidden;
  }

  .home-menu:hover {
    width: 200px;
  }

  .home-content {
    width: calc(100% - 70px);
    transition: margin-left 0.3s ease, width 0.3s ease;
  }

  .home-menu:hover ~ .home-content {
    margin-left: 200px;
    width: calc(100% - 200px);
  }