.timeline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.timeline-step {
  text-align: center;
  position: relative;
}

.timeline-step .circle {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  z-index: 4;
}

.timeline-step.active .circle {
  background-color: #4caf50;
}

.timeline-step .label {
  margin-top: 8px;
  font-size: 14px;
}

.timeline-line {
  position: absolute;
  top: 20px;
  left: 100%;
  width: 65%;
  height: 4px;
  background-color: #ddd;
  z-index: 1;
  transform: translateX(-50%);
}

.timeline-line.active {
  background-color: #4caf50;
}

.timeline-step:first-child .timeline-line {
  left: 102%;
  width: calc(70% - 0px);
}

.timeline-step:last-child .timeline-line {
  left:0%;
  width: calc(70% - 0px);
}
